.modal-min{
	max-width:500px;
}

.bg-img{
	background-position: center;
	background-repeat:  no-repeat;
	background-size: cover;
}
.parallax-container {
      height: "your height here";
    }
       
.intro_container{
	height: 100%;
	text-align: center;
	position: center; 
	background-color: rgba(0,0,0,0.2);
	overflow: hidden;
}

