.modal-min{
	max-width:500px;
}

.bg-img{
	background-position: center;
	background-repeat:  no-repeat;
	background-size: cover;
}
.parallax-container.min {
      height: 350px !important;
}
       
.intro_container{
	height: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.2);
	overflow: hidden;
}

.intro_container i.material-icons.large{
	font-size: 18rem;
}

.intro_container i.material-icons.medium{
	font-size: 15rem;
}

.nav-profile {
	margin: 0 !important;
}

.nav-profile a {
	padding-right: 16px !important;
	padding-left: 16px !important;
}

.nav-profile i.material-icons {
	display: inline-block;
	width: 40px !important;
	height: 40px !important;
	line-height: 40px;
	text-align: center;
	margin-right: 8px;
	vertical-align: middle;
}

@media only screen and (min-width: 993px) {
	a.brand-logo {
		padding-left: 24px !important;
	}
}
